.p41{
    color: black;
    font-size: 40px;
    
}
.p44{
    color: black;
    font-size: 40px;
    
}
.p43{
margin-top: -6%;

}
.p42{
    color: rgb(31, 30, 30);
    font-size: 18px;
    text-align: left;
    
}
.pp{
    margin-top: 19px;
}
